<div class="container">
  <div class="p-5">
    <div class="card">
      <div class="card-body">
        <%= form_with model: @link, remote: true do |form| %>
          <h5 class='card-title'>Enter a URL to shorten</h5>
          <%= form.text_field :original_url, class: "form-control", placeholder: "Enter URL..." %>
          <%= form.submit "Shorten", class: "btn btn-primary mt-2" %>
        <% end %>
      </div>
      <div id="short-link">
      </div>
    </div>
  </div>
</div>
